@charset "UTF-8";

$light-bg: #fcfafa;
$dark-col-bg: #042a2b;
$beige-bg: #c6c7c4;
$brown-bg: #54494b;
$grey-bg: #7e8287;

$dark-text: #444;
$med-text: #93989b;
$light-text: #a4a7ab;

body {
  color: $dark-text;
  background-color: white;
}

.clickable {
  cursor: pointer;
  &:hover {
    color: $med-text;
    text-decoration: underline;
  }
}
.editable {
  display: inline-block;
  &:focus {
    outline: none;
    border: 1px dotted $dark-col-bg;
    border-radius: 5px;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 40px 40px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: $light-bg;
  font-family: fantasy;

  .app-title-text {
    font-family: monospace;
    font-variant: petite-caps;
    font-size: 40px;
  }

  .title-text {
    font-family: monospace;
    font-size: 40px;
  }

  .heading-text {
    font-family: monospace;
    font-variant: petite-caps;
    font-size: 20px;
  }

  .body-text {
    font-family: monospace;
    font-size: 20px;
  }

  .small-text {
    font-family: monospace;
    font-size: 16px;
  }

  h2,
  h4 {
    text-align: center;
  }

  h2 {
    padding: 50px;
    font-size: 3rem;
    border-bottom: 2px solid $beige-bg;
  }

  h4 {
    padding: 10px;
    font-size: 2rem;
  }

  .user {
    align-self: baseline;
    width: 100%;

    display: flex;

    font-size: 1.5rem;

    .expander-character {
      margin-right: 10px;
      align-self: center;
      padding-top: 0.35em;
    }

    .post-count {
      align-self: center;
      whitespace: nowrap;
    }

    .title {
      flex-grow: 1;
    }

    .post-count {
      float: right;
      font-size: 1rem;
      color: $med-text;
    }

    &.selected {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    &.title,
    .title {
      display: inline-block;
    }
    .post {
      width: 100%;
      padding: 10px;
      border-top: 1px dotted $beige-bg;

      .editable {
        white-space: pre-wrap;
      }

      background-color: white;
      font-size: 1.5rem;
    }
  }
}
