.app
    %h2.app-title-text
        Welcome to ${name}
    %h4.title-text
        These are the users...
    .users-model-child(child-variant="${posts && posts.length ? (state[id] ? 'selectedtablerow' : 'tablerow') : 'nopoststablerow'}")
