.user 
  %span.clickable.expander-character(onclick="${state[id]=true}")<
    ⊕
  .title.heading-text<
    %include(variant="draggabletextfield" key_field="${name}")
  .small-text.post-count
    ${posts&&posts.length} ${posts&&posts.length==1?'post':'posts'}