.user.title
  .title.heading-text<
    %include(variant="draggabletextfield" key_field="${name}")
  .small-text.post-count
    (no posts yet)
  .small-text.clickable(onclick="${newrow('Post',{body: 'hello', author: [id]})}")
    Add post
